# Supabase CLI Konfiguration
# https://supabase.com/docs/guides/cli/config

project_id = "fake-discord"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
shadow_port = 54320
health_timeout = "2m"
major_version = 15

[db.migrations]
enabled = true

[db.seed]
enabled = true
sql_paths = []

[realtime]
enabled = true

[studio]
enabled = true
port = 54323

[auth]
enabled = true
site_url = "http://127.0.0.1:5173"
additional_redirect_urls = ["https://127.0.0.1:5173"]
enable_signup = true

[storage]
enabled = true
file_size_limit = "50MiB"
